* {
  padding: 0;
  margin: 0;
}
nav .nav {
  display: none;
}
nav .mobile-nav{
  display: flex;
  background: black;
  width: 100%;
}
.mobile-nav .wid{
  width: 100%;
}
.hamburger {
  padding: 10px 10px;
  transition: opacity 0.3s;
}
.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background: rgb(236, 66, 66);
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger .line:nth-child(1) {
  background-color: #a77a33;
}

.hamburger .line:nth-child(2) {
  background-color: #633200;
}

.hamburger .line:nth-child(3) {
  background-color: #a77a33;
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.navbar {
  background-color: #333;
  width: 100%;
  /* position: absolute;
  top: 60px; */
  display: none;
}

.navbar ul {
  overflow: hidden;
  list-style-type: none;
  padding-top: 5%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  display: block;
  margin: 0;
  padding: 5% 50px;
}

.navbar li:hover {
  cursor: pointer;
}

.navbar li a {
  color: #d3e3e3;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  transition: all 0.5s;
}

.navbar {
  transition: all 2s ease-in-out;
}

.navbar.active {
  display: block;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 10px;
  padding-bottom:20px ;
}

.card-1 {
  width: 90%;
}
.card-1 img{
  width: 100%;
}

.card-2{
  width: 90%;
  color: azure;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.card-2 > div{
  display: flex;
  align-items: center;
}
.card-2 > div span{
  font-size: 1.5rem;
  font-weight: bold;
  font-family:sans-serif ;
}
.card-2 > div img{
  width: 60px;
}
.card-2 >h1{
  font-family: sans-serif;
  font-weight: bold;
  
}
.card-2>h2{
  font-family: sans-serif;
  font-weight: bold
}
.card-2>p{
  font-family: sans-serif;
  font-weight: bold
}
.card-2 button{
  padding: 10px 60px;
  border-radius: 20px;
  border: none;
  background-color: tomato;
  color: #fff;
  margin-top: 5px;
   
} 


